################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SpeedRunWatchLib/obj
/SpeedRunWatchLib/bin
/SpeedRunWatchApplication/obj
/SpeedRunWatchApplication/bin
